# for local development
CLERK_PUBLISHABLE_KEY= ""
CLERK_SECRET_KEY = ""
GITHUB_TOKEN = ""
# if USE_GITHUB_APP is set to true, the GITHUB_TOKEN will be ignored
USE_GITHUB_APP = ""
GITHUB_APP_ID = ""
GITHUB_APP_PRIVATE_KEY = ""
GITHUB_APP_INSTALLATION_ID = ""
